.movieCard {
  width: 300px;
  background: #232323;
  font-family: sans-serif;
  padding: 7px;
}

.movieCardImageWrapper {
  overflow: hidden;
  margin-bottom: 10px;
  position: relative;
  width: 100%;
  height: 400px;
}

.movieCardImage {
  position: absolute;
  width: 100%;
  min-height: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
}

.mainInfo {
  display: flex;
  width: 100%;
  margin-bottom: 3px;
  justify-content: space-between;
  align-items: center;
}

.year {
  padding: 5px 10px;
  line-height: 16px;
  text-align: center;
  border: 1px solid #545454;
  border-radius: 5px;
  color: #acacac
}

.title {
  color: #b2b2b2;
  font-size: 20px;
}

.genreList {
  color: #818181;
  font-size: 16px;
}

.genreList span:not(:last-child):after {
  content: ',';
  padding-right: 4px;
}
