.button {
    padding: 5px;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    border-radius: 3px;
    border-width: 0px;
    background-color: #F65261;
    transition: all 0.2s ease;
    outline: none;
    cursor: pointer;
}

.button:active {
    transform: scale(.95);
}

.buttonSearch {
    height: 40px;
    width: 180px;
}
