* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.movieInfoWrapper {
  display: flex;
  width: 80%;
  height: 400px;
  font-size: 18px;
  font-weight: 300;
}

.movieImage {
  display: flex;
  align-items: center;
  flex-basis: 30%;
  margin-right: 60px;
}

.movieImage img {
  width: 100%;
  height: 95%;
}

.movieInfo {
  flex-basis: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.movieInfoHeader {
  display: flex;
  align-items: center;
  margin: 25px 0 15px;
}

.movieTitle {
  margin-right: 25px;
  font-size: 3em;
  font-weight: lighter;
}

.movieRating {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  padding-bottom: 4px;
  font-size: 28px;
  color: #A1E66F;
  border: 1px solid #fff;
  border-radius: 50%;
}

.movieStatistic {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
  min-width: 150px;
}

.movieDescription {
  padding-right: 5px;
}
