.movieStatContainer {
  display: flex;
  align-items: baseline;
}

.movieStatValue {
  padding-right: 5px;
  color: #f65261;
  font-size: 23px;
}

.movieStatType {
  color: #555555;
  font-size: 15px;
}
