.inputField { 
    height: 50px;
    width: 700px;
    padding-left: 15px;
    border: 0;
    border-radius: 5px;
    background-color: #232323;
    color: #ffffff;
    opacity: 0.8;
    font-size: 20px;
}
