.toggleTittle {
    margin: 10px;
}

.toggleRadio {
    display: none
}

.toggleElement {
    background-color: rgba(128, 128, 128, 0.2);
    color: white;
    padding: 10px;
    cursor: default;
}

.toggleElement:first-child {
    border-radius: 5px 0 0 5px;
}

.toggleElement:last-child {
    border-radius: 0 5px 5px 0px;
}

.toggleContainer {
    padding: 0;
    display: flex;
    align-items: center;
}

.checked {
    background-color: #e55e65;
}